<div class="container">
  <div class="body-container">
    <div class="header-wrapper">
      <div class="header-inner-wrapper">
        <div class="header-left-container">
          <div class="logo-wrappper">auto.market</div>
          <div class="option-wrappper">
            <h1 class="header-option-text">Home</h1>
            <h1 class="header-option-text">Sell Car</h1>
            <h1 class="header-option-text">Buy Car</h1>
            <h1 class="header-option-text">Market</h1>
            <h1 class="header-option-text">Contact Us</h1>
          </div>
        </div>
        <div class="header-right-container">
          <div class="img-wrapper">
            <img src="../../../assets/img/car.png" alt="img" />
          </div>
          <div class="img-wrapper">
            <img src="../../../assets/img/star.png" alt="img" />
          </div>
          <div class="img-wrapper">
            <img src="../../../assets/img/man-profile.png" alt="img" />
          </div>
          <div class="profile-name-wrapper">
            <h1 class="name-text">Sami L.</h1>
            <div class="arrow-img-wrapper">
              <img src="../../../assets/img/arrow-down-sign.png" alt="img" />
            </div>
          </div>
          <div class="button-wrapper">
            <button class="post-add-btn">+ Post ad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
