
<div class="row">

  <div class="col-md-9">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card card-stats">
          <div class="card-body " style="background-color: #928787; border-radius: 10px;">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="">
                  <p class="card-title" style="font-size: 20px; color:#fff; font-weight: bold;">Most Active
                  <p>
                  <p class="card-category" style="color:#fff;">Status</p>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-7 col-md-8">
                <div class="">
                  <p class="card-title" style="font-size: 20px;font-weight: bold;">42.5K
                  <p>
                  <p class="card-category">Visitors</p>

                </div>
              </div>
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-sound-wave text-success"></i>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-7 col-md-8">
                <div class="">
                  <p class="card-title"style="font-size: 20px; font-weight: bold;">42.5K
                  <p>
                  <p class="card-category">Anonymous</p>

                </div>
              </div>
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-sound-wave text-success"></i>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Users Behavior</h5>
            <p class="card-category">24 Hours performance</p>
          </div>
          <div class="card-body ">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas height="250" id="chartHours" width="1001"
              style="display: block; width: 1001px; height: 250px;" class="chartjs-render-monitor"></canvas>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats"><i class="fa fa-history"></i> Updated 3 minutes ago </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="card ">
        <div class="card-footer ">
          <p>By Promotiong your app it will be seen by 26% and it may raise the chnace of 36% of selling</p>
          <div style="text-align: center;">
            <button class="btn btn-primary" type="submit">
              Promote
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="card " style="width:100%">
        <div class="card-header " style="border-bottom: 1px solid #CCC;
        padding-bottom: 7px;"> 
          Suggestion Section
        </div>
        <div class="card-footer ">
          <ul>
            <li>
              <a>By Promotiong your app it will be seen by 26%</a>
            </li>
            <li>
              <a>and it may raise the chnace of 36% of selling</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card " style="width:100%">
        <div class="card-header ">
          Gender Section
        </div>
        <div class="card-footer ">
          <div class="chart-legend">
            <i class="fa fa-circle text-info" style="font-size: 40px;"></i> 
            <span style="position: absolute;
            left: 63px;
            top: 58px;">Male</span>
          </div>
          <div class="chart-legend"><i class="fa fa-circle text-info" style="font-size: 40px;"></i>
            <span style="position: absolute;
            left: 63px;
            top: 98px;">Female</span>
          </div>
          <div class="chart-legend"><i class="fa fa-circle text-info" style="font-size: 40px;"></i>
            <span style="position: absolute;
            left: 63px;
            top: 137px;">Other</span>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>